html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
}

#links {
    margin-top: -3rem;
    margin-bottom: 4rem;
    padding: 0;
    list-style: none;
    display: flex;
}

h2 {
    margin-top: -3rem;
}

h3 {
    margin-top: -1rem;
    margin-bottom: 3rem;
}

svg {
    background-color: white;
}

#tooltip {
    text-align: center;
    background-color: azure;
    padding: 1rem;
    border-radius: 5px;
    font-size: 0.85rem;
}

