html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
}

h2 {
    margin-top: -3rem;
}

h3 {
    margin-top: -1rem;
    margin-bottom: 3rem;
}

svg {
    background-color: white;
}

